<style type="text/css">
    #chat {
        max-width: 500px;
        height: 500px;
    }
</style>

<div id="chat" style="height:500px; overflow-y:scroll;"></div>
<div class="ui form">
    <form id="send-message">
        <div class="inline fields" id="messagediv">
            <input type="text" style="max-width:200px" id="message" placeholder="message" />
            <button class="ui primary button">send</button>
        </div>
    </form>
</div>
<input hidden type="text" id="username" ng-true-value="{{user}}" value="{{user}}"/>
<script>

    jQuery(function ($) {

        var socket = io();
        var message = $('#message');
        var form = $('#send-message');
        var chat = $('#chat');
        var username = $('#username').val();
        console.log(username);

        form.submit(function (e) {
            e.preventDefault();
            message.msg = message.val();
            message.nick = $('#username').val(); 
                socket.emit('send-message', message);
            message.val('');
        });
        socket.on('new message', function (data) {
            chat.append('<div class="ui message"><strong>' + data.nick + '</strong>: ' + data.msg + "</div>");
                
        });
            
    });
    //$('#nickbox').click(function (e) {
    //    e.preventDefault();
    //    
    //   socket.emit('new user', $('#nickname').val(), function (data) {
    //        if (data) {
    //            $('#nicknamediv').hide();
    //            $('#messagediv').show();
    //        } else {
    //            $('#error').val('Name already taken');
    //        }
    //    });
    //    $('#nickname').val('');
    //});
    //socket.on('username', function(data) {
    //    var html = "";
    //    console.log(data);
    //    for (i = 0; i < data.length; i++) {
    //        html += data[i] + "<br/>";
    //       $('#users').append(html);
    //    }
    //});
        

</script>
