
<body ng-app="register">
    <style type="text/css">
        body {
            background-color: #c4c4c4;
        }

            body > .grid {
                height: 100%;
            }

        .column {
            margin-left: 80px;
            margin-right: 80px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Login screen -->
    <div class="ui form">
        <div class="column">
            <h2 class="header">Sign up here</h2>

            <form class="ui form" ng-submit="registeruser()">
                <div class="ui segment">
                    <h3>User information</h3>
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" ng-model="username" placeholder="enter your username" />
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" ng-model="password" placeholder="enter your password" />
                        </div>
                    </div>

                    <h3>Roleplay Information</h3>

                    <div class="field">
                        <label>Person Name</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="personname" ng-model="personName" placeholder="enter the name of your manager" />
                        </div>
                    </div>

                    <div class="field">
                        <label>Team Name</label>
                        <div class="ui left icon input">
                            <i class="car icon"></i>
                            <input type="text" name="teamname" ng-model="teamName" placeholder="enter the name of your team" />
                        </div>
                    </div>

                    <h4>driver name</h4>

                    <div class="fields">
                        <div class="field">
                            <label>Forename</label>
                            <div class="ui left icon input">
                                <i class="male icon"></i>
                                <input type="text" name="fname" ng-model="firstName" placeholder="First name" />
                            </div>
                        </div>

                        <div class="field">
                            <label>Surname</label>
                            <div class="ui left icon input">
                                <i class="male icon"></i>
                                <input type="text" name="sname" ng-model="lastName" placeholder="Last name" />
                            </div>
                        </div>

                        <div class="field">
                            <label>carname</label>
                            <div class="ui left icon input">
                                <i class="male icon"></i>
                                <input type="text" name="carname" ng-model="carName" placeholder="car name" />
                            </div>
                        </div>


                    </div>
                    <button class="ui fluid large teal submit button">Submit</button>
                </div>
                <div class="ui error message"></div>
            </form>

        </div>
    </div>
</body>
